@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;1,300&family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,700&display=swap");
html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

body {
  font-weight: 300;
  // background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.fade-typography {
  mask-image: linear-gradient(180deg, #000 60%, transparent);
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}
